/* fon-family link */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

/* css link */

@import url(./common.css);

* {
  font-family: "Sen", sans-serif;
  font-family: "Inter", sans-serif;
}

:root {
  --main-color: #ffffff;
  --red-color: red;
  --btn-color: #ffd050;
  --btn-hower-color: #edc14a;
  --blak-color: #232536;
  --grey-color: #6d6e76;
  --light-grey: #f4f4f4;
  --light-yellow: #fbf6ea;
  --trans-05: all 0.5s ease;
}

ul {
  list-style-type: none;
}

/* --start nabvab-- */

nav {
  position: fixed;
  width: 100%;
  background: var(--blak-color);
}

.nav-bar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  transition: var(--trans-05);
}

.navbar-shrink {
  height: 65px;
}
.nav {
  display: none;
}

.nav li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0 12px;
  line-height: 28px;
  color: var(--main-color);
  transition: var(--trans-05);
}

.nav li a:hover {
  color: var(--btn-color);
}

.nav li button {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-left: 20px;
  font-size: 18px;
  padding: 16px 48px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  line-height: 24px;
  color: var(--blak-color);
  transition: var(--trans-05);
}

.nav li button:hover {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

#navbar-open i {
  color: var(--main-color);
  font-size: 40px;
}
#navbar-open {
  background-color: transparent;
  border: none;
}

#navbar-responsive {
  position: fixed;
  top: 0px;
  padding-top: 70px;
  bottom: 0;
  z-index: 10;
  left: -100%;
  background-color: var(--main-color);
  width: 100%;
  text-align: center;
  transition: var(--trans-05);
}

#navbar-close {
  background-color: transparent;
  border: none;
}
#navbar-close i {
  background-color: var(--red-color);
  font-size: 30px;
  color: var(--main-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.respon .nav-link a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0 12px;
  line-height: 28px;
  color: var(--blak-color);
}

.respon .nav-link button {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-left: 20px;
  font-size: 18px;
  padding: 16px 48px;
  background: var(--blak-color);
  border: 1px solid var(--main-color);
  line-height: 24px;
  border-radius: 10px;
  color: var(--main-color);
}

.respon .nav-link {
  padding: 20px;
}

/* --End navbar-- */

/* blog section */

.blog-section {
  padding: 128px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 64px;
}
.blog-left {
}
.bloog-left img:nth-child(1) {
  position: relative;
  max-width: 624px;
  max-height: 480px;
}
.blog-left img:nth-child(2) {
  position: absolute;
  margin-left: 187px;
  margin-top: 37px;
}
/* end blog section */

/* author section */

#author-section {
  display: inline-block;
  height: 776px;
  margin-top: 91px;
}
.authors-info {
  text-align: center;
}
.authors-info h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: var(--blak-color);
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 32px;
  margin-top: 48px;
}
.card {
  background-color: var(--light-grey);
}
.card:hover {
  background-color: var(--light-yellow);
  transition: var(--trans-05);
}
.image {
  margin: 40px 84px 20px 84px;
  width: 100%;
}

.card_info {
  text-align: center;
}
.card_info h2 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  color: var(--blak-color);
  margin-top: 20px;
}
.card_info p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-color);
}
.persons {
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 16px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

/* end author section */

/* join section */
.join-section {
  padding: 128px 0;
  text-align: center;
}
.join-section h3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2px;
  color: var(--blak-color);
}
.join-section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 16px;
  color: var(--grey-color);
}
.join-section a {
  display: inline-block;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
  color: var(--blak-color);
  background: var(--btn-color);
  padding: 16px 48px;
}
.join-section a:hover {
  background-color: var(--btn-hower-color);
}
/* end join section */

/* responsivlik */

@media (min-width: 720px) {
  /* --navbar -- */
  #navbar-responsive {
    display: none;
  }

  #navbar-open {
    display: none;
  }

  .nav {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
/* --End nvnbar-- */
