@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url(./common.css);

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: #ffffff;
    --btn-color: #ffd050;
    --blak-color: #232536;
    --grey-color: #6d6e76;
  }
  
  ul {
    list-style-type: none;
  }
  
  /* --start nabvab-- */
  
  nav {
    position: fixed;
    z-index: 4;
    width: 100%;
    background: var(--blak-color);
  }
  
  .nav-bar {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
  }
  
  .navbar-shrink {
    height: 65px;
  }
  .nav {
    display: none;
  }
  
  .nav li a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0 12px;
    line-height: 28px;
    color: var(--main-color);
    transition: 0.5s;
  }
  
  .nav li a:hover {
    color: var(--btn-color);
  }
  
  .nav li button {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
    font-size: 18px;
    padding: 16px 48px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    line-height: 24px;
    color: var(--blak-color);
    transition: 0.5s;
  }
  
  .nav li button:hover {
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
  }
  
  #navbar-open i {
    color: white;
    font-size: 40px;
  }
  #navbar-open {
    background-color: transparent;
    border: none;
  }
  
  #navbar-responsive {
    position: fixed;
    top: 0px;
    padding-top: 70px;
    bottom: 0;
    z-index: 10;
    left: -100%;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }
  
  #navbar-close {
    background-color: transparent;
    border: none;
  }
  #navbar-close i {
    background-color: red;
    font-size: 30px;
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .respon .nav-link a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0 12px;
    line-height: 28px;
    color: var(--blak-color);
  }
  
  .respon .nav-link button {
    font-family: "Sen", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
    font-size: 18px;
    padding: 16px 48px;
    background: var(--blak-color);
    border: 1px solid var(--main-color);
    line-height: 24px;
    border-radius: 10px;
    color: var(--main-color);
  }
  
  .respon .nav-link {
    padding: 20px;
  }


.pubg h1 {
    font-family: 'Sen';
    font-style: normal;
    margin-top: 130px;
    margin-left: 32px;
    max-width: 669px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: -2px;
    color: #232536;
}

.pubg p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-left: 32px;
    font-size: 16px;
    margin-top: 24px;
    line-height: 28px;
    max-width: 645px;
    display: flex;
    align-items: center;
    color: #6D6E76;
}

.logo-chat img {
    padding: 5px;
}

.box-3 {
    display: flex;
}

.logo-chat {
    margin-left: 32px;
    margin-top: 24px;
}

.free img {
    margin-left: 208px;
    margin-top: 128px;
}

.boko{
    background: #F4F0F8;
}

.logo-csrd {
    margin-left: 208px;
    margin-top: 104px;
}

.rem p {
    font-family: 'Inter';
    font-style: normal;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    max-width: 580px;
    color: #6D6E76;
}

.rem h1 {
    font-family: 'Sen';
    font-style: normal;
    margin-top: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    max-width: 560px;
    letter-spacing: -2px;
    color: #232536;
}

.rem h3 {
    font-family: 'Inter';
    font-style: normal;
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
}

.rem {
    margin-left: 32px;
}

.card-1,
.box-2 {
    display: flex;
    margin-top: 64px;
}

.vali h1 {
    font-family: 'Sen';
    margin-left: 208px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-top: 128px;
    letter-spacing: -2px;
    color: #232536;
}
footer{
	background-color:var(--blak-color);
}


.footerlinks{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 24px;
}

.footerlinks a{
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
display: flex;
align-items: center;
color: var(--main-color);
}

.footerlinks a:hover{
	text-decoration: underline;
}

.footertop img{
	max-width: 140px;
}

.footertop{
	padding: 60px 0;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-direction: column;
}


.footer-subscribe{
	display: flex;
	justify-content: space-between;
	gap: 24px;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.059);
	padding: 80px 64px;
}


.footer-subscribe h2{
	max-width: 562px;
  font-family: 'Sen';
	color: var(--main-color);
	font-weight: 700;
    font-size: 36px;
    line-height: 48px;
	letter-spacing: -2px;
}


.footer-form{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 24px;
}

.footer-form input{
	font-family: 'Inter';
	min-width: 100px;
	max-width: 323px;
	border: 1px solid #4C4C4C;
	padding: 14px 20px;
	background-color: transparent;
	color: var(--dark-grey);
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
} 


.footer-form button{
  font-family: 'Sen';
	border: none;
	padding: 16px 48px;
	background-color: var(--btn-color);
	color: var(--blak-color);
	font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}


.footer-form button:hover{
	background-color:var(--btn-hower-color);
}

.footer-bottom{
	padding: 48px 0 56px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.footer-bottom-left p{
	font-family: 'Inter';
	color: var(--main-color);
	font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.footer-bottom-right{
	display: flex;
	gap: 26px;
}


.footer-bottom-right img{
	width: 16px;
	height: 16px;
}
@media(min-width:650px){
	.footertop{
		flex-direction: inherit;
	}
}

@media(min-width:800px){
	.footer-subscribe{
		flex-direction: inherit;
	}
}


@media(min-width:1250px){
	.footer-form input{
		width: 250px;
	}
}

@media(min-width:1350px){
	.footer-form input{
		width: 323px;
	}
footer {
  background-color:var(--blak-color);
}

.footerlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.footerlinks a {
  font-family: 'Inter';
  color: var(--main-color);
}

.footerlinks a:hover {
  text-decoration: underline;
}

.footertop img {
  max-width: 100%;
}

.footertop {
  padding: 60px 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
}

.footer-subscribe {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.059);
  padding: 80px 64px;
}

.footer-subscribe h2 {
  max-width: 562px;
  font-family: 'Sen';
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

.footer-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.footer-form input {
  font-family: 'Sen';
  min-width: 100px;
  max-width: 323px;
  border: 1px solid #4c4c4c;
  padding: 14px 20px;
  background-color: transparent;
  color: var(--grey-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-form button {
  font-family: 'Sen';
  border: none;
  padding: 16px 48px;
  background-color: var(--btn-color);
  color: var(--blak-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.footer-form button:hover {
  background-color: var(--btn-hower-color);
}

.footer-bottom {
  padding: 48px 0 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.footer-bottom-left p {
  font-family: 'Inter';
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-bottom-right {
  display: flex;
  gap: 26px;
}

.footer-bottom-right img {
  background-color: #6D6E76;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

@media (min-width: 600px) {
  
}

@media (min-width: 650px) {
  .footertop {
    flex-direction: inherit;
  }
}

@media (min-width: 800px) {
  .footer-subscribe {
    flex-direction: inherit;
  }
}

@media (min-width: 1250px) {
  .footer-form input {
    width: 250px;
  }
}

@media (min-width: 1350px) {
  .footer-form input {
    width: 323px;
  }
}


/* responsivlik */
@media only screen and (min-width: 576px) {
  .join-section {
    text-align: center;
  }
  .join-section h3 {
    font-size: 16px;
  }
  .join-section p {
    font-size: 8px;
  }
}
@media only screen and (min-width: 720px) {
  /* --navbar -- */
  #navbar-responsive {
    display: none;
  }

  #navbar-open {
    display: none;
  }

  .nav {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
/* --End nvnbar-- */
.join-section {
  text-align: center;
}

.join-section h3 {
  font-size: 25px;
}
.join-section p {
  font-size: 12px;
}
@media only screen and (min-width: 950px) {
}
@media only screen and (min-width: 1200px) {
}
}
.box {
    margin-left: 208px;
}

@media (min-width: 720px) {
    /* --navbar -- */
    #navbar-responsive {
      display: none;
    }
  
    #navbar-open {
      display: none;
    }
  
    .nav {
      display: flex;
      height: 100%;
      align-items: center;
    }
  
    /* --End nvnbar-- */
}