@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

@import url(./common.css);

* {
  font-family: "Sen", sans-serif;
  font-family: "Inter", sans-serif;
}

:root {
  --main-color: #ffffff;
  --btn-color: #ffd050;
  --blak-color: #232536;
  --grey-color: #6d6e76;
}

ul {
  list-style-type: none;
}

/* --start nabvab-- */

nav {
  position: fixed;
  width: 100%;
  background: var(--blak-color);
}

.nav-bar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.navbar-shrink {
  height: 65px;
}
.nav {
  display: none;
}

.nav li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0 12px;
  line-height: 28px;
  color: var(--main-color);
  transition: 0.5s;
}

.nav li a:hover {
  color: var(--btn-color);
}

.nav li button {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-left: 20px;
  font-size: 18px;
  padding: 16px 48px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  line-height: 24px;
  color: var(--blak-color);
  transition: 0.5s;
}

.nav li button:hover {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

#navbar-open i {
  color: white;
  font-size: 40px;
}
#navbar-open {
  background-color: transparent;
  border: none;
}

#navbar-responsive {
  position: fixed;
  top: 0px;
  padding-top: 70px;
  bottom: 0;
  z-index: 10;
  left: -100%;
  background-color: white;
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

#navbar-close {
  background-color: transparent;
  border: none;
}
#navbar-close i {
  background-color: red;
  font-size: 30px;
  color: whitesmoke;
  position: absolute;
  top: 10px;
  right: 10px;
}

.respon .nav-link a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0 12px;
  line-height: 28px;
  color: var(--blak-color);
}

.respon .nav-link button {
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-left: 20px;
  font-size: 18px;
  padding: 16px 48px;
  background: var(--blak-color);
  border: 1px solid var(--main-color);
  line-height: 24px;
  border-radius: 10px;
  color: var(--main-color);
}

.respon .nav-link {
  padding: 20px;
}

/* --End navbar-- */

@media (min-width: 720px) {
  /* --navbar -- */
  #navbar-responsive {
    display: none;
  }

  #navbar-open {
    display: none;
  }

  .nav {
    display: flex;
    height: 100%;
    align-items: center;
  }

  /* --End nvnbar-- */
}
